DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CONTRIBUTOR_ROLE_ID=
DISCORD_CHANNEL_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
PUBLIC_URL=https://discord-bot.emdashcms.com
